[Desktop Entry]
Name=Install Snowlinux
GenericName=Snowlinux Installer
Comment=Install the operating system to disk
Exec=gksudo /usr/bin/snowlinux-installer
Icon=snowlinux-installer
Terminal=False
Type=Application
Categories=System;
