Source: snowlinux-installer
Section: admin
Priority: optional
Maintainer: Lars Torben Kremer <lars@snowlinux.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: snowlinux-installer
Architecture: all
Depends: python (>= 2.4), python (<< 3), python-gtk2, python-glade2, python-parted, gparted, inxi, python-geoip, python-imaging, python-qt4, python-opencv, python-numpy, imagemagick
Description: Live Installer
 A live installer

Package: snowlinux-installer-slideshow
Architecture: all
Description: Live Installer Slideshow
 A Linux Mint slideshow for the live installer
